@page "/"

@inject IJSRuntime JSRuntime;
@inject IModalService Modal;
@inject NavigationManager NavManager;

<h1>OneClickSign</h1>
<hr />

<div @ref="pdf" style="height: 70vh;"></div>
<br />

<EditForm Model="@submit" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p><InputCheckbox id="checkbox" @bind-Value="submit.HasAgreed" /> I agree to the above written.</p>

    <button type="submit">Submit</button>
</EditForm>


@code {

    ElementReference pdf;
    public OneClickSign.Data.Submit submit;

    protected override void OnInitialized()
    {
        submit = new Data.Submit();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
            await JSRuntime.InvokeVoidAsync("initReader", OneClickSign.Data.Static.PDFUri.ToString(), pdf);
    }

    private async Task HandleValidSubmit()
    {

        var awaitable = Modal.Show<SignPopUpWindow>("Sign Window");

        var modalResult = await awaitable.Result;

        if (modalResult.Cancelled)
            submit = new Data.Submit();
        else
            NavManager.NavigateTo("/ok/");
    }
}